.mainBlock {
    position: relative;
    height: 200px; 
    width: 400px;    
    border: 5px groove #F0F0F0;
	border-radius: 30px;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	background: url('../img/background.png');
	margin: 0 auto;
}

.inputValuteBlock {
	left: 15px;
	top: 20px;  
	height: 150px; 
	width: 150px;
	position: absolute;
	margin: 0 auto;
}

.outputValuteBlock{
	left: 175px;
	top: 20px;
	height: 150px;
	width: 150px;
	position: absolute;
	margin: 0 auto;
}	